.ex-til{
    color: #f0c35c;
}
.link-mod:hover{
    text-decoration: none;    
    color: aquamarine;
}
.list-social-icons a{
    color:#495057
}
.list-social-icons a:hover{
    color:#4267B2
}
.list-social-icons a .fa-lg{
    font-size:1.75rem
}
.list-icons{
    font-size:3rem
}
.list-icons .list-inline-item i:hover{
    color:#4267B2
}
.ex-subtil{
    color: #808080;
    font-size: large;
}